@use 'variables' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-display;
}

body::-webkit-scrollbar {
  display: none;
}

a {
    text-decoration: none;
    transition: $transition-base;
}